---
import { getCollection } from "astro:content";
import DefaultLayout from '../layouts/Default.astro';
import HeroSection from '../components/HeroSection.astro';
import ContentHolder from '../components/ContentHolder.astro';
import Quote from '../components/Quote.astro';
import SiteSection from '../components/SiteSection.astro';
import ProjectCard from "../components/ProjectCard.astro";
import ComingSoonButtonArticleGroup from "../components/ComingSoonButtonArticleGroup.astro";
import NewsletterForm from "../components/Forms/NewsletterForm.astro";
import Button from "../components/Button.astro";

const posts = await getCollection('works', ({data}) => {return data.tags.includes('trabalho')});

const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
})
---

<DefaultLayout title='Trabalhos' description='Confira os problemas que já encontrei e como os solucionei: especializado em estratégias data-driven e crescimento sustentável, meu trabalho contribui substancialmente para o amadurecimento digital da sua empresa.' pageType="webiste" imageName="trabalhos">
  <HeroSection heroTitle='Meu impacto' heroSubtitle='Confira os problemas que já encontrei e como solucionei eles.' heroBtnIcon="ChevronDown"/>

  <ContentHolder id=content orientation=column>
    <Quote quoteText='Recomendo-o com entusiasmo a qualquer organização que busque um profissional de marketing completo. André é um profissional extremamente dedicado, paciente e engajado. Possui profundo entendimento sobre estratégias de growth, o conceito de máquina de vendas' quoteAuthor='Cleverson Marques' quoteAuthorWork='Executivo de vendas em VEGA I.T'/>

    <SiteSection orientation="LTR" title={sortedPosts[0].data.title} description={sortedPosts[0].data.description} imageAltText='' imageName={sortedPosts[0].data.imageName}>
      {
        sortedPosts[0].data.isDraft ? 
        <ComingSoonButtonArticleGroup articleId={sortedPosts[0].id} articleTitle={sortedPosts[0].data.title} btnSize="M"/>
        :
        <a href={"/trabalhos/" + sortedPosts[0].id} rel="next"><Button btnSize="M" btnText="Ler mais" btnType="primary"/></a>
      }
    </SiteSection>

    <Quote quoteText='O André é o tipo de profissional que entrega tudo o que promete e ainda vai além. Extremamente competente, dedicado e atencioso, ele sempre encontra soluções criativas e eficazes para qualquer desafio. Se tem alguém que realmente faz a diferença, esse alguém é ele' quoteAuthor='Pablo Ricardo' quoteAuthorWork='Gestor de Tráfego em WorkUp Digital'/>

    <SiteSection orientation="RTL" title={sortedPosts[1].data.title} description={sortedPosts[1].data.description} imageAltText='' imageName={sortedPosts[1].data.imageName}>
      {
        sortedPosts[1].data.isDraft ? 
        <ComingSoonButtonArticleGroup articleId={sortedPosts[1].id} articleTitle={sortedPosts[1].data.title} btnSize="M"/>
        :
        <a href={"/trabalhos/" + sortedPosts[1].id} rel="next"><Button btnSize="M" btnText="Ler mais" btnType="primary"/></a>
      }
    </SiteSection>

    <Quote quoteText='O André é um profissional dedicado e atencioso, com ótimo conhecimento técnico e que trabalha bem em equipe para implantar soluções' quoteAuthor='Rafael Bretas' quoteAuthorWork='CEO em Agência fog'/>

    <SiteSection orientation="LTR" title={sortedPosts[2].data.title} description={sortedPosts[2].data.description} imageAltText='' imageName={sortedPosts[2].data.imageName}>
      {
        sortedPosts[2].data.isDraft ? 
        <ComingSoonButtonArticleGroup articleId={sortedPosts[2].id} articleTitle={sortedPosts[2].data.title} btnSize="M"/>
        :
        <a href={"/trabalhos/" + sortedPosts[2].id} rel="next"><Button btnSize="M" btnText="Ler mais" btnType="primary"/></a>
      }
    </SiteSection>

    <Quote quoteText='Profissional excelente e responsável, sou muito contente em trabalhar com o André' quoteAuthor='Cássio Pisseti' quoteAuthorWork='CEO em Engepoli'/>
  </ContentHolder>
  <ContentHolder id="trabalhos" orientation="grid">
    {
      sortedPosts.map(post => {
        return <ProjectCard title={post.data.title} description={post.data.description} imageName={post.data.imageName} link={`/trabalhos/${post.id}`} isDraft={post.data.isDraft} postId={post.id}/>
      })
    }
  </ContentHolder>
  <ContentHolder id="" orientation="column">
    <NewsletterForm orientation="RTL"/>
    <SiteSection title='Entre em contato' description='Quer solidificar o seu Marketing Digital e fortalecer a presença digital da sua empresa e seus produtos? Entre em contato comigo pelo e vamos conversar!<br><br>Para contratações freelancer, por favor, forneça as informações gerais do seu projeto de antemão para agilizar a análise do caso.' orientation="LTR" imageName='informacoes-de-contato' imageSaturate={false} imageAltText='Diagrama radial com uma foto de André Moura Santos no centro, representando um ponto de contato central. Quatro logos de plataformas digitais circundam a foto e estão conectados a ela: WhatsApp , Google Meet (videoconferências), Gmail (e-mail) e LinkedIn (rede profissional). O diagrama ilustra as diversas maneiras de entrar em contato com André Moura Santos através dos diferentes canais digitais para comunicação.'>
      <a href="https://api.whatsapp.com/send/?phone=5541935009236&text=Oi%2C%20gostaria%20de%20entrar%20em%20contato%20para%20apresentar%20meu%20projeto" target="_blank"><Button btnText="Fale comigo" btnIcon="WhatsApp" btnSize="M" btnType="primary"/></a>
    </SiteSection>
  </ContentHolder>
</DefaultLayout>

<script src="../composables/subscribeToArticleRelease.ts"></script>