---
import Button from './Button.astro';

interface Props {
  heroTitle:string;
  heroSubtitle:string;
  heroImage?:string;
  heroBtnText?:string;
  heroBtnIcon?:IconName;
  heroBtnLinkPath?:string;
}

const { heroTitle, heroSubtitle, heroImage, heroBtnText, heroBtnIcon = "ChevronDown", heroBtnLinkPath } = Astro.props;

let imagePath;
try {
  imagePath = await import(`../assets/photos/${heroImage}.jpg`).then((res) => {return res.default.src});
} catch (error) {
  imagePath = await import(`../assets/photos/test.jpg`).then((res) => {return res.default.src});
}
---

<section class="heroSection" class:list={heroImage ? 'imageBackg' : ''}>
  {heroImage ? <img src={imagePath}/> : ''}
  <div>
    <h1>{heroTitle}</h1>
    <p>{heroSubtitle}</p>
    <slot/>
    <Button btnSize="L" id="btnHero" btnIcon={heroBtnIcon} btnText={heroBtnText} btnType={heroImage ? "primary" : "hero"}/>
  </div>
</section>

<script>
  function scrollToContent() {
    const content = document.getElementById('content')
      if (content) {
        content.scrollIntoView({ behavior: 'smooth' })
      }
  };

  document.getElementById('btnHero')?.addEventListener("click", scrollToContent);
</script>

<style>
  section {
    height: calc(100vh - var(--padding_8x));
    display: grid;
    align-items: center;
  }

  section::after {
    position: absolute;
    content: '';
    inset: 0 0 0 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #6FA3FF, #836FFF, #CB6FFF);
    z-index: -2;
  }

  section.imageBackg * {
    color: var(--colors-page_background);
  }

  section.imageBackg::before {
    background: none;
  }

  section::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(45deg, var(--dot-color) 25%, transparent 25%),
      linear-gradient(-45deg, var(--dot-color) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--dot-color) 25%),
      linear-gradient(-45deg, transparent 75%, var(--dot-color) 25%);
    background-size: var(--square-unit) var(--square-unit);
    background-position: 0 0, var(--offset-unit) 0, var(--offset-unit) calc(-1 * var(--offset-unit)), 0px var(--offset-unit);
    filter: opacity(0.05);
    overflow: hidden;
  }

  img {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(0px) saturate(0.3) brightness(0.25);
  }

  section > div {
    position: relative;
    margin: auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: var(--padding_02x);
    text-align: center;
    align-items: center;
  }

  h1 {
    font-size: var(--font-size_display);
    color: white;
  }

  p {
    font-size: var(--font-size_medium);
    margin-bottom: 24px;
    color: white;
  }

  @media screen and (max-width: 672px) {
    section::before {
      filter: opacity(0.025);
    }
  }
</style>