---
import Button from './Button.astro';

interface Props {
  heroTitle:string;
  heroSubtitle:string;
  heroImage?:string;
  heroBtnText?:string;
  heroBtnIcon?:IconName;
  heroBtnLinkPath?:string;
}

const { heroTitle, heroSubtitle, heroImage, heroBtnText, heroBtnIcon = "ChevronDown", heroBtnLinkPath } = Astro.props;

let imagePath;
try {
  imagePath = await import(`../assets/photos/${heroImage}.jpg`).then((res) => {return res.default.src});
} catch (error) {
  imagePath = await import(`../assets/photos/test.jpg`).then((res) => {return res.default.src});
}
---

<section class:list={heroImage ? 'imageBackg' : ''}>
  {heroImage ? <img src={imagePath}/> : ''}
  <div>
    <h1>{heroTitle}</h1>
    <p>{heroSubtitle}</p>
    <Button btnSize="L" id="btnHero" btnIcon={heroBtnIcon}/>
  </div>
</section>

<script>
  function scrollToContent() {
    const content = document.getElementById('content')
      if (content) {
        content.scrollIntoView({ behavior: 'smooth' })
      }
  };

  document.getElementById('btnHero')?.addEventListener("click", scrollToContent);
</script>

<style>
  section {
    height: calc(100vh - var(--padding_8x));
    display: grid;
    align-items: center;
    background: transparent;
  }

  section.imageBackg * {
    color: var(--colors_background);
  }

  section.imageBackg::before {
    background: none;
  }

  section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(var(--colors_background) 10%, #D5FFF3, #ECEBFF, var(--colors_background) 90%);
    z-index: -1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(0px) saturate(0.3) brightness(0.5);
  }

  section > div {
    position: relative;
    margin: auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: var(--padding_02x);
    text-align: center;
    align-items: center;
  }

  h1 {
    font-size: var(--font-size_display);
  }

  p {
    font-size: var(--font-size_medium);
    margin-bottom: 24px;
  }
</style>