---
import { getCollection } from "astro:content";
import PortofolioPage from "../../layouts/PortofolioPage.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const posts = await getCollection('portfolio', ({data}) => {return data.tags.includes('automação')});

const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
})
---
<PortofolioPage heroTitle="Projetos de automação" heroSubtitle="Eliminando o trabalho repetitivo para aumentar a produtividade." sectionTitle="Eliminando tarefas repetitivas" sectionDescription=`Quanto maior fica a sua operação, mais e mais tarefas são necessárias, como preencher formulários, atualizar o CRM, modificar uma planilha ou criar documentos padrão.<br><br>Aqui você pode encontrar algumas ideias para liberar o seu tempo dessas atividades de baixo valor agregado para o cliente.<br><br>Caso queira soluções prontas, veja <a href="/portfolio/programacao">meus projetos de programação</a>.` sectionImage="alvaro-reyes-qWwpHwip31M-unsplash">
  {
    sortedPosts.map(post => {
      return <ProjectCard title={post.data.title} description={post.data.description} imageName={post.data.imageName} link={"/portfolio/"+post.id} isDraft={post.data.isDraft} postId={post.id}/>
    })
  }
</PortofolioPage>

<script src="../../composables/subscribeToArticleRelease.ts"></script>