---
import { getCollection } from "astro:content";
import PortofolioPage from "../../layouts/PortofolioPage.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const posts = await getCollection('portfolio', ({data}) => {return data.tags.includes('design')});

const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
})
---
<PortofolioPage heroTitle="Projetos de design" heroSubtitle="Aprecie aqui alguns dos meus trabalhos ou use como inspiração para o seu próximo projeto." sectionTitle="Resolvendo problemas reais" sectionDescription=`Assim como <a href="/portfolio/programacao">meus projetos de programação</a>, cada projeto foi criado pensando em solucionar um problema do mundo real que eu (ou um cliente) já experienciou.<br><br>Alguns projetos contam com links para um <em>teste-drive</em> nos designs, sinta-se à vontade para explorar.` sectionImage="tirza-van-dijk-o1SKqmgSDbg-unsplash">
  {
    import.meta.env.DEV ?
    sortedPosts.map(post => {
      return <ProjectCard title={post.data.title} description={post.data.description} imageName={post.data.imageName} link={post.id} isDraft={post.data.isDraft}/>
    }) :
    sortedPosts.map(post => {
      if(!post.data.isDraft) {
        return <ProjectCard title={post.data.title} description={post.data.description} imageName={post.data.imageName} link={post.id} isDraft={post.data.isDraft}/>  
      }
    })
  }
</PortofolioPage>

<script>
</script>